server {
    listen 443 ssl;
    http2 on;

    server_name {{ MAIL_SERVICE_DOMAIN }};

    ssl_certificate /etc/ssl/mail/cert.pem;
    ssl_certificate_key /etc/ssl/mail/key.pem;

    include /etc/nginx/conf.d/mtls.conf;
    include /etc/nginx/conf.d/limits.conf;

    location / {
        proxy_pass http://mail-service:{{ MAIL_SERVICE_PORT }};

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
    }
}