client_max_body_size {{ DEFAULT_MAX_BODY_SIZE }};

proxy_connect_timeout {{ DEFAULT_PROXY_CONNECT_TIMEOUT }};
proxy_send_timeout {{ DEFAULT_PROXY_SEND_TIMEOUT }};
proxy_read_timeout {{ DEFAULT_PROXY_READ_TIMEOUT }};